<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculator</title>
    <!-- <nav>
        <h1>Secant Method Calculator</h1>
    </nav> -->
    <nav>
      <ul class="snip1189">
          <li><a href="{{ url_for('home_page') }}">Home</a></li>
          <li><a href="{{ url_for('bissection_page') }}">Bissection Method</a></li>
          <li><a href="{{ url_for('regulafalsi_page') }}">Regula Falsi Method</a></li>
          <li><a href="{{ url_for('newton_page') }}">Newton Method</a></li>
          <li class="current"><a href="{{ url_for('secant_page') }}">Secant Method</a></li>
          <!-- <li><a href="#">Contact</a></li> -->
        </ul>
      </nav>
    <link rel="stylesheet" href="../static/css/bissect.css">
</head>
<body>
    <script src="../static/js/main.js"></script>
    <div class="form">
        <div class="title">Secant Method</div>
        <div class="subtitle">Let's solve the equation!</div>
        <div class="input-container ic1">
          <input id="expression" class="input" type="text" placeholder=" " />
          <div class="cut"></div>
          <label for="expression" class="placeholder">Expression</label>
        </div>
        <div class="input-container ic2">
          <input id="1stinterval" class="input" type="text" placeholder=" " />
          <div class="cut"></div>
          <label for="1stinterval" class="placeholder">First Interval</label>
        </div>
        <div class="input-container ic2">
          <input id="2ndinterval" class="input" type="text" placeholder=" " />
          <div class="cut cut-short"></div>
          <label for="2ndinterval" class="placeholder">Second Interval</>
        </div>
        <div class="input-container ic1">
            <input id="tolerance" class="input" type="text" placeholder=" " />
            <div class="cut cut-short"></div>
            <label for="tolerance" class="placeholder">Tolerance Value</label>
          </div>
        <button type="text" class="submit" onclick="calcsecantroot()">submit</button>
      </div>
        <p id="mistake"></p>
      <div class="table" id="table-div">
        <table id="table">
            <thead>
                <tr>
                    <th>i</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>F(C)</th>
                </tr>
            </thead>
            <tbody id="table-body">

            </tbody>
        </table>
      </div>
      <p id="answer"></p>
</body>

</html>